@font-face {
    font-family: 'Arenq Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Arenq Regular'), url('../Components/Arenq.woff') format('woff');
}
h1.AppName{
    font-family: 'Arenq Regular';
    color: white;
}
